.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--color-primary-light-active);
  border-bottom-color: var(--color-primary-main);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.layout {
  width: 100%;
  height: 100%;
}

.layout__header {
  width: 100%;
  height: 10rem;
  position: relative;
  background-color: var(--color-primary-light);
}

.layout__header-home {
  line-height: 4.7rem;
  position: relative;
  font: var(--base-font);
  left: 7.8%;
  top: 28%;
}

.layout__header-logout {
  position: relative;
  font: var(--base-font);
  left: 80%;
  top: 40%;
}

.layout__main {
  width: 100%;
  background-color: var(--color-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
