.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--color-primary-light-active);
  border-bottom-color: var(--color-primary-main);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sign-in {
  width: 100%;
  height: 100%;
  margin: 27rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-sign-in);
}

.sign-in__header {
  font: var(--base-font);
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sign-in-label {
  font: var(--base-font);
}

.sign-in-input {
  height: 3rem;
  font: var(--base-font);
}

.sign-in-button {
  height: 3rem;
  font: var(--base-font);
  background-color: var(--color-primary-light-active);
}

.sign-in-to-register-text {
  font: var(--base-font);
}

.sign-in-to-register-link {
  font: var(--base-font);
  text-decoration: underline;
}
